body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 155, 57,0.8);
    color: mintcream;
}

.container{
    max-width: 800px;
    padding: 10px 20px 20px;
    background-color: rgb(64, 57, 57);
    border-radius: 5px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

h1{
    text-align: center;
    color: #F05D5E;

}
h4{
    color: #F05D5E;
    padding: 0;
    margin: 0 auto;
    margin-left:10px;
}
p{
    line-height: 1.5;
    margin: 0px 0px 20px 10px;
}