*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 155, 57,0.8);
}
.nav-bar{
    background-color: rgb(64, 57, 57,0.8);
    height:111px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar img{
    height:80%;
    width:55%;
    margin: 10px;
}
.cTemplate{
    background-color: rgb(231, 155, 57,0.8);
    height: 1000px;
    
}
legend{
    color:#3b252c;
    font-size: 2.5rem;
    font-weight: 600;
    justify-items: center;

}
.box-container{
    height:500px;
    margin:30px;
    display: flex;
    justify-content: space-evenly;
}
.box , #img{
    height:400px;
    margin:30px;
    width:300px;
    background-color: #915150;
}

/* form styling */
.form-Experience,.form-Education,.form-Personal,#form-Skills{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-cv{
    width: 40%;
    border-radius: 2rem;
    margin: 20px;
    padding: 15px;
    background-color: rgb(64, 57, 57);
    color:mintcream;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    flex-direction: column;
}
.form-cv h2,p{
    margin-bottom: 6px;
    height:40px;
}
.form-cv input{
    margin-bottom:7px;
    height: 30px;
    margin-top:2.5px;
    
}
.form-cv input:hover{
    border:3px rgb(231, 155, 57) solid;
}

.button{
    margin:13px 0px;
    height:38px;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(231, 155, 57);
}
.addButton{
    align-items: center;
    width: 75%;
    margin:2.5px 0px;
    height:34px;
    font-size: 1.3rem;
    background-color: rgb(231, 155, 57);
}





/* Template  */
#default_profile{
    border-radius: 50%;
    width:170px;
}
.template{
    width: 700px;
    padding: 40px;
    margin: 40px 5px 30px;
    border: 2px solid #1F79C7;
    box-sizing: border-box;
    background-color:white;
}
.template li{
    list-style-type: none;
}
.template h5{
    color: #1F79C7;
    margin:3px 0px 3px;
}
.column {
    float: left;
    padding: 10px;
    color: #666666;
  }
.left {
    width: 35%;
    font-size: 1.05rem;
}
.right {
    width: 65%;
    font-size: 1.1rem;
}
.right h5{
    margin: 15px 0px 8px;
    font-size: 1.15rem;
}
.heading{
    font-size: 1.14rem;
    color: black;
}
.date{
    font-size: 0.9rem;
    color: rgb(108, 104, 104);
}
.column::after {
    content: "";
    display: table;
    clear: both;
}
.profile{
    display: flex;
}
.profile_img{
    padding: 20px;
}
.name{
    text-align: left;
    margin-top: 75px;
    margin-left: 25px;
    font-size: 2rem;
    color: rgb(66, 66, 66);
}