body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 155, 57,0.2);
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(64, 57, 57);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

.logo{
    margin-right: 60px;
    margin-left: 60px;
    height: 60px;
}
.logo img{
    width:100%;
}
h2 {
    text-align: center;
    color: #F05D5E;
}
input[type="text"],
input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(231, 155, 57);
    border-radius: 4px;
    box-sizing: border-box;
}
#loginBt{
    background-color: #f05d5d7f;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}
a{
    color: mintcream;
    font-weight: 700;
    text-decoration: none;
}
#loginBt:hover {
    padding:12px;
    font-size:medium;
    background-color: #F05D5E;
    border:3px solid #f05d5d94;
}